.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-flow__attribution {
  visibility: hidden;
}

.react-flow__attribution::after {
  content: 'M++ simulator';
  visibility: visible;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}

.bordered {
  border: 1px solid black;
}

.blob {
  animation: pulse 0.1s forwards;
}

@keyframes pulse {
  0% {
    /* transform: scale(0.95, 0.95); */
    background-color: #FFFF;
  }

  70% {
    /* transform: scale(1, 1); */
    background-color: #f0c4005d;
  }

  100% {
    /* transform: scale(0.95, 0.95); */
    background-color: #f0c40094;
  }
}

.debuggerPointed {
  background-color: rgba(240, 196, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.debuggerPointed .debuggerPointedOp {
  font-weight: bold;
  font-size: large;
}

.debuggerPointed .debuggerPointedOpNotFound {
  background-color: rgba(240, 0, 0, 0.5);
  font-weight: bold;
  font-size: large;
}

.error-marker {
  /* code editor error marker */
  position: absolute;
  border-bottom: 1px solid red;
  border-radius: 0;
}

.eti-marker {
  /* code editor eti marker */
  position: absolute;
  background: #fff677;
}

.eti-marker-color {
  background-color: #fff677;
  border-radius: 3px;
}

.runButtons {
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.443);
}

.mpp-header {
  background-color: #f5f5f5;
  user-select: none;
}

.code {
  border: 1px dotted #ccc;
  padding: 5px;
}

.pretty-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
}

.state-transition-step .ant-steps-item-icon {
  width: 36px;
}

@keyframes wiggle {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.ant-steps-item-process .ant-steps-item-description {
  font-weight: bold;
}

.bus {
  background-image: linear-gradient(0deg, rgb(200, 47, 64) 6.25%, rgb(255, 217, 11) 6.25%, rgb(255, 217, 11) 12.50%, rgb(126, 107, 195) 12.50%, rgb(126, 107, 195) 18.75%, rgb(187, 133, 115) 18.75%, rgb(187, 133, 115) 25%, rgb(90, 202, 103) 25%, rgb(90, 202, 103) 31.25%, rgb(241, 242, 234) 31.25%, rgb(241, 242, 234) 37.50%, rgb(233, 159, 67) 37.50%, rgb(233, 159, 67) 43.75%, rgb(185, 187, 180) 43.75%, rgb(185, 187, 180) 50%, rgb(200, 47, 64) 50%, rgb(200, 47, 64) 56.25%, rgb(255, 217, 11) 56.25%, rgb(255, 217, 11) 62.50%, rgb(126, 107, 195) 62.50%, rgb(126, 107, 195) 68.75%, rgb(187, 133, 115) 68.75%, rgb(187, 133, 115) 75%, rgb(90, 202, 103) 75%, rgb(90, 202, 103) 81.25%, rgb(241, 242, 234) 81.25%, rgb(241, 242, 234) 87.50%, rgb(233, 159, 67) 87.50%, rgb(233, 159, 67) 93.75%, rgb(185, 187, 180) 93.75%, rgb(185, 187, 180) 100%);
  background-size: 32.00px 32.00px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bus p {
  background-color: white;
  margin-right: 5px;
  padding: 2px;
}

.react-flow__handle {
  opacity: 0;
  /* opacity: 0; to hide all unused handles */
}

.loadable-node {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
