.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-flow__attribution {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}

.bordered {
  border: 1px solid black;
}

.blob {
  animation: pulse 0.1s forwards;
  background-color: #F0C400;
}

@keyframes pulse {
  0% {
    /* transform: scale(0.95, 0.95); */
    box-shadow: 0 0 0 0 #F0C400;
    background-color: #FFFF;
  }

  70% {
    /* transform: scale(1, 1); */
    background-color: #f0c4005d;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    /* transform: scale(0.95, 0.95); */
    background-color: #f0c40094;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.debuggerPointed {
  background-color: rgba(240, 196, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.debuggerPointed .debuggerPointedOp {
  font-weight: bold;
  font-size: large;
}

.debuggerPointed .debuggerPointedOpNotFound {
  background-color: rgba(240, 0, 0, 0.5);
  font-weight: bold;
  font-size: large;
}

.error-marker { /* code editor error marker */
  background-color: rgba(240, 0, 0, 0.3);
  position: absolute;
}