.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


html, body, #root, .App {
  height: 100%;
  overflow: scroll;
}

/* ---------- Make the codepen look nice ---------- */


/* ---------- End make the codepen look nice ---------- */

/* ---------- Begin .rotating-border ---------- */
@-webkit-keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.rotating-border {
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);

  position: relative;
  overflow: hidden;
}

.rotating-border::before {
  content: '';
  display: block;
  background: var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

.rotating-border--reverse::before {
  animation-direction: reverse;
}

.rotating-border::after {
  content: '';
  position: absolute;
  top: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  left: var(--border-size);
  background: white;
  z-index: -1;
  border-radius: calc(var(--border-radius) - var(--border-size));
}

/* ---------- End .rotating-border ---------- */

/* ---------- Begin customizing .rotating-border ---------- */
.rotating-border--google {
  --border-radius: 0.5rem;
  --border-size: 0.25rem;
  --border-bg: conic-gradient(#ea4335 0.0turn, #ea4335 0.125turn,
      #4285f4 0.125turn, #4285f4 0.25turn,
      #fbbc05 0.25turn, #fbbc05 0.375turn,
      #34a853 0.375turn, #34a853 0.5turn,
      #ea4335 0.5turn, #ea4335 0.625turn,
      #4285f4 0.625turn, #4285f4 0.75turn,
      #fbbc05 0.75turn, #fbbc05 0.875turn,
      #34a853 0.875turn, #34a853 1.0turn);
  --border-bg: conic-gradient(#ea4335 0.0turn 0.125turn,
      #4285f4 0.125turn 0.25turn,
      #fbbc05 0.25turn 0.375turn,
      #34a853 0.375turn 0.5turn,
      #ea4335 0.5turn 0.625turn,
      #4285f4 0.625turn 0.75turn,
      #fbbc05 0.75turn 0.875turn,
      #34a853 0.875turn 1.0turn);

  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2;
}

.rotating-border--rainbow {
  --border-radius: 1.5rem;
  --border-size: 0.5rem;
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}

.rotating-border--black-white {
  --border-radius: 100%;
  --border-size: 0.6rem;
  --border-bg: conic-gradient(#fff 0.00turn, #fff 0.05turn,
      #333 0.05turn, #333 0.10turn,
      #fff 0.10turn, #fff 0.15turn,
      #333 0.15turn, #333 0.20turn,
      #fff 0.20turn, #fff 0.25turn,
      #333 0.25turn, #333 0.30turn,
      #fff 0.30turn, #fff 0.35turn,
      #333 0.35turn, #333 0.40turn,
      #fff 0.40turn, #fff 0.45turn,
      #333 0.45turn, #333 0.50turn,
      #fff 0.50turn, #fff 0.55turn,
      #333 0.55turn, #333 0.60turn,
      #fff 0.60turn, #fff 0.65turn,
      #333 0.65turn, #333 0.70turn,
      #fff 0.70turn, #fff 0.75turn,
      #333 0.75turn, #333 0.80turn,
      #fff 0.80turn, #fff 0.85turn,
      #333 0.85turn, #333 0.90turn,
      #fff 0.90turn, #fff 0.95turn,
      #333 0.95turn, #333 1.00turn);
  --border-bg: conic-gradient(#fff 0.00turn 0.05turn,
      #333 0.05turn 0.10turn,
      #fff 0.10turn 0.15turn,
      #333 0.15turn 0.20turn,
      #fff 0.20turn 0.25turn,
      #333 0.25turn 0.30turn,
      #fff 0.30turn 0.35turn,
      #333 0.35turn 0.40turn,
      #fff 0.40turn 0.45turn,
      #333 0.45turn 0.50turn,
      #fff 0.50turn 0.55turn,
      #333 0.55turn 0.60turn,
      #fff 0.60turn 0.65turn,
      #333 0.65turn 0.70turn,
      #fff 0.70turn 0.75turn,
      #333 0.75turn 0.80turn,
      #fff 0.80turn 0.85turn,
      #333 0.85turn 0.90turn,
      #fff 0.90turn 0.95turn,
      #333 0.95turn 1.00turn);
}

.rotating-border--black-yellow {
  --border-radius: 100%;
  --border-bg: conic-gradient(#F0C400 0.1666turn,
      #444 0.1666turn, #444 0.3333turn,
      #F0C400 0.3333turn, #F0C400 0.5turn,
      #444 0.5turn, #444 0.6666turn,
      #F0C400 0.6666turn, #F0C400 0.8333turn,
      #444 0.8333turn);
  --border-bg: conic-gradient(#F0C400 0.1666turn,
      #444 0.1666turn 0.3333turn,
      #F0C400 0.3333turn 0.5turn,
      #444 0.5turn 0.6666turn,
      #F0C400 0.6666turn 0.8333turn,
      #444 0.8333turn);
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

.bordered {
  border: 1px solid black;
}