/* CSS */
.text-button {
  background: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  color: #0f1111;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-decoration: none;
}

.text-button:hover {
  background: #f7fafa;
}

.text-button:focus {
  border: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.highlight {
    background: #FFC300;
}

.reset-highlight {
    background: white;
}

.background {
    padding: 5px;
}

.label-search-mem {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

entry {
    font-family: 'Courier New', Courier, monospace;
}

.box {
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 0.5em;
}

.separator-1 {
    border-top: 1px solid black;
}
.separator-2 {
    border-bottom: 1px solid black;
}
.separator-3 {
    border-left: 1px solid black;
}
.separator-4 {
    border-right: 1px solid black;
}

label {
    font-family: 'Courier New', Courier, monospace;
}